# Backend API Base URL
VITE_API_URL=http://localhost:8000/api/v1

# WebSocket URL for real-time alerts & detections
VITE_WS_URL=ws://localhost:8000/api/v1/ws

# Backend Media/Static Files Base URL
VITE_MEDIA_BASE_URL=http://localhost:8000
